<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header text-center">MY BLOG</h1>
            </div>
            <div class="col-md-9 main">
                {% body %}
            </div>
            <div class="col-md-3 sidebar">
                {{> sidebar }}
            </div>
        </div>
    </div>
</body>

</html>